.player-card {
    width: 70%;
    max-width: 500px;
    @extend .u-flex;
    @extend .u-flex-column;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.05);
    overflow: hidden;
    background: #fff;
    .player-card__content {
        @extend .u-flex-auto;
        padding: 0 10px;
        .user {
            color: #b40909;
        }
        .description {
            color: #cecece;
            font-size: 14px;
        }
    }
    .player-card__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .player-card__footer {
        padding-top: 50px;
        text-align: center;
    }
}


.secret_link {
    position: fixed;
}
